/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* ---------------- HEADER ---------------- */

header {
  position: fixed; /* mantém o header sempre no topo da viewport */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.4s ease; /* animação suave */
  background-color: #054a31;
  height: 40px;

  display: flex;               /* ativa flexbox */
  justify-content: center;     /* centraliza horizontalmente */
  align-items: center;         /* centraliza verticalmente */
}

header.oculto {
  top: -100px; /* esconde o header acima da tela */
}

.navbar {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 60px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.menu li a:hover {
  text-decoration: underline;
}

/* ---------------- CONTAINER PRINCIPAL ---------------- */

.home {
  display: flex;
  height: calc(100vh - 44px); /* altura total menos o header */
  width: 100%;
}

/*----------------- Centralização das Sections -------*/

.perfil, .sobre {
  width: 50%; /*garante metade da tela para cada section*/
  display: flex;
  flex-direction: column;
  justify-content: center; /*centraliza os elementos verticalmente*/
  align-items: center; /*centraliza os elementos horizontalmente*/
  padding: 40px 20px;
}

/* ---------------- PERFIL (ESQUERDA) ---------------- */

.perfil {
    background-color: #fff;
}

.foto-perfil img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 16px;
}

.meu-nome {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.cargo {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.instituicao {
  font-size: 14px;
  margin-bottom: 20px;
  color: #333;
}

.btn-email {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 24px;
}

.btn-email:hover {
  background-color: #555;
}

/* Ícones sociais */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-icons a {
  text-decoration: none;
  font-size: 18px;
  color: #000;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.social-icons a:hover {
  background-color: #ddd;
}

/* ---------------- SOBRE MIM (DIREITA) ---------------- */

.sobre {
  background-color: #c1c1c1;
  text-align: center;
}

.sobre h2 {
  font-size: 28px;
  margin-bottom: 16px;
}

.sobre p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* Botões secundários */
.botoes-sobre {
  display: flex;
  gap: 20px;
}

.botoes-sobre a{
  color: white;
  text-decoration: none;
}

.botoes-sobre button {
  background-color: #222;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.botoes-sobre button:hover {
  background-color: #444;
}

/* ---------------- PORTFÓLIO ---------------- */

.portfolio {
  height: 100vh; /* ocupa toda a altura da tela */
  background: linear-gradient(to bottom, #ffffff 50%, #c1c1c1 50% );
  display: flex; /* transforma em container flexível */
  align-items: center; /* centraliza verticalmente o conteúdo */
  justify-content: center; /* centraliza horizontalmente o conteúdo */
  padding: 40px 20px; /* espaçamento interno para respiro */
}

.portfolio-container {
  display: flex; /* organiza os cards em linha */
  justify-content: center; /* centraliza os cards horizontalmente */
  gap: 40px; /* espaçamento entre os cards */
  flex-wrap: wrap; /* permite quebra de linha caso a tela seja menor */
  max-width: 1200px; /* largura máxima do container */
  margin: 0 auto; /* centraliza o container horizontalmente na tela */
}

.card {
  background-color: #f9f9f9;
  width: 260px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* animação suave */
}

/* Efeito ao passar o mouse */
.card:hover {
  transform: translateY(-10px); /* move o card para cima */
  box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* sombra mais forte para flutuar */
}


.card img {
  width: 100%; /* faz a imagem ocupar toda a largura do card */
  height: auto;
  margin-bottom: 12px; /* espaço abaixo da imagem */
}

.card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #222;
}

.card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
  line-height: 1.4;
}

.btn-projeto {
  display: inline-block; /* permite aplicar padding e largura no link */
  background-color: #075e3d;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-projeto:hover {
  background-color: #054a31;
}

