* { margin: 0px; padding: 0px; border: 0px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

/*Couteudo todo */
body{
    height: 100%;
    display: block;
    background-color: #1F1F1F;
}

/*Barra de navegação */
.header1{
    background-color: #1F1F1F;

}
.navegacao{
    padding: 10px;
}
ol {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
ol li{
    align-self: center;
}

/*Corpo e barra Lateral da pagina */
.divflex{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-content: stretch;
}
.barralateral{
    display: flex;
    flex-flow: column wrap;
    padding: 5px;
    background-color: #2979FF;
}
#informações-lateral{
    display: flex;
    height: 300px;
    background-color: rgba(32, 30, 30, 0.13);
    border-radius: 8%;
    margin-top: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.sobre{
    padding: 20px 0px 0px 0px;
    background-color: #3A3A3A;
}
.interesses{
    padding: 10px;
    background-color: #3A3A3A
}
.diciplinas{
    padding: 10px;
    background-color: #3A3A3A
}
.projetos{
    padding: 10px;
    background-color: #3A3A3A
}
.elementos{
    padding: 10px;
}

/*Rodapé */
.rodape{
    width: 100%;
    font-size: 11px;
    text-align: center;
}
#address{
    padding: 5px;   
    color: beige;
}



/*Textos e imagens */
.texto-principal{
    color: #FFFFFF;
}

#texto-lateral1{
    color:#FFFFFF;
    align-self: center;
    text-align: center;
}

#texto-lateral2{
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 12px;
}

#texto-lateral3{
    color: #3A3A3A;
    font-size: 12px;
    margin-top: auto;
}

#foto-perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid black;
}

